@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap");
#right-click-menu > a, .loading-icon, #sign-in-button > span, #sign-in-button, .nav-menu-row {
  display: flex;
  align-content: center;
  align-items: center;
}

#right-click-menu, .nav-menu {
  display: flex;
  flex-flow: column nowrap;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  color: #1b1b1b;
}

body {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 19vmax auto;
  overflow-x: hidden;
  background-color: black;
}
@media (orientation: portrait) {
  body {
    display: flex;
    flex-flow: column;
  }
}

a {
  color: #1b1b1b;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  color: #1b1b1b;
}
a > .material-icons {
  padding-right: 10px;
}

.nav-menu {
  background-color: #fff;
  padding: 1vmax;
  width: 17vmax;
  height: calc(100% - 2vmax);
  z-index: 2;
  position: fixed;
}
@media (orientation: portrait) {
  .nav-menu {
    position: static;
    height: auto;
    width: 100%;
  }
}

h1 {
  font-size: 1.2em;
  margin-top: 15px;
  padding-top: 10px;
  border-top: solid #cfcfcf 1px;
}

.nav-menu > h1:first-of-type {
  border-top: none;
}

.flex-grow-spacer {
  flex-grow: 1;
}

.nav-menu-row > .material-icons {
  padding-right: 10px;
}

#sign-in-button {
  border-radius: 10px;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  background-color: #cfd8dc;
  transition: all 0.2s;
  width: calc(100% - 30px);
}
#sign-in-button > span {
  overflow: hidden;
}
#sign-in-button:hover {
  background-color: #9ea7aa;
}

.profile-picture {
  width: 40px;
  margin-right: 10px;
  border-radius: 40px;
}

span.nav-ui {
  font-size: 1.2em;
}

input {
  border: none;
  border-bottom: #cfcfcf 1px solid;
  background-color: transparent;
  transition: 0.3s all;
  font-size: 1.5vw;
  width: 14vmax;
}
input:focus {
  outline: none;
  border-bottom: #212121 1px solid;
}

label.file-upload {
  display: flex;
  flex-flow: column;
}
label.file-upload > span {
  cursor: pointer;
  padding: 10px;
  font-size: 2em;
}
label.file-upload > input {
  display: none;
}

.shadow-1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-2 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-4 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.collapsed {
  width: 0 !important;
  height: 0 !important;
}

.transform-collapsed {
  transform: scale(0);
}

.display-none {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.loading-icon {
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader > h3 {
  font-size: 2em;
}

.select-screens {
  grid-column-start: 2;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.tile-holder {
  flex-basis: 100%;
  padding: 10px;
  display: inline-flex;
  flex-flow: row wrap;
  background-color: #1b1b1b;
  align-content: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  min-height: 100%;
}

.inline-icon {
  padding-left: 5px;
  padding-right: 5px;
}

/*select screens */
.select-screens > input {
  display: none;
}

.ss-tab {
  padding: 10px;
  flex-grow: 1;
  font-size: 2.5em;
  -moz-text-align-last: center;
       text-align-last: center;
  font-family: "Fjalla one", sans-serif;
  color: #515151;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
}

#css-radio:checked ~ #css-tab, #pss-radio:checked ~ #pss-tab {
  background-color: #1b1b1b;
  color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: default;
}

#css-radio:checked ~ #pss, #pss-radio:checked ~ #css, #css-radio:checked ~ #add-char-fab {
  display: none;
}

/*sidebar items */
.search-bar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
}

#search-label-icon {
  cursor: pointer;
}

/*char tiles */
.tile-button {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);
  transition: all 0.5s;
  display: inline-block;
  width: 16.666%;
  z-index: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
  background-color: antiquewhite;
  cursor: pointer;
  overflow: hidden;
}
@media (orientation: portrait) {
  .tile-button {
    width: 50%;
  }
}
.tile-button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
  z-index: 420;
}
.tile-button > .character-image {
  width: 100%;
  display: inline-block;
  position: absolute;
  background-size: contain;
  background-position: center;
}
.tile-button > .character-image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.tile-button > .background-number {
  position: absolute;
  align-self: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.4);
}
.tile-button > .name-plate {
  width: calc(100% - 6px);
  font-family: "Fjalla One", sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  align-self: flex-end;
  color: white;
  padding: 3px;
  font-size: 2vw;
  position: absolute;
  text-transform: uppercase;
  word-wrap: break-word;
}
.tile-button > .foreground-number {
  display: flex;
  z-index: 1;
  flex-flow: row;
}

.inner-foreground-number > span {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Fjalla One", sans-serif;
  font-size: 1.4vw;
  color: white;
  padding: 4px;
  z-index: 1;
}

.tile-button > .foreground-number:last-child {
  flex-grow: 1;
}
.tile-button:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.fab {
  width: 4vmax;
  height: 4vmax;
  background-color: #212121;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  font-size: 2.5vmax;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  line-height: 70px;
  border: white solid 2px;
  position: fixed;
  right: 2vmax;
  bottom: 2vmax;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}
.fab:hover {
  box-shadow: 0 6px 14px 0 #000;
  transform: scale(1.05);
}

#right-click-menu {
  position: absolute;
  z-index: 999;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.1s;
  transform-origin: top left;
}
#right-click-menu > a {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  flex-flow: row nowrap;
  padding: 10px;
  text-decoration: none;
  color: #1b1b1b;
  overflow: hidden;
}
#right-click-menu > a > i {
  padding-right: 10px;
}
#right-click-menu > a > i:empty {
  padding-right: 0;
}/*# sourceMappingURL=select.css.map */